@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: FCFCFC;
}

html,body {
margin:0px;
height:100%;
}

li, a, button, p {
    font-family:"Montserrat", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 300;
}

ul, li {
    display: inline-block;
}

a {
    color: white;
    outline: none;
    text-decoration: none;
} 

#redes {
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 20px 100px;
    height: 100%;
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.icons {
    width: 30px;
    height: 30px;
}

#colcontact {
    float: left;
    position: relative;
}

#colsocial {
    float: right;
    overflow: hidden;
}

    #header {
    padding: 25px 200px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#logo {
    height: 100px;
    width: 100px;
    float: left;
    position: relative;
}

nav {
    float: right;
    overflow: hidden;
}

.nav_links {
    list-style: none;
}

.nav_links li a {
    color: #6d6d6d;
    outline: none;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 45px;
    text-transform: uppercase;
    font-weight: 700;
}

.nav_links li a:hover, a:focus, a:active {
    color: #934caf;
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 07% 20%;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

#hero {
    background-color: rgb(65,58,100);;
    background: linear-gradient(90deg, rgba(65,58,100,1) 0%, rgba(87,44,111,1) 35%, rgba(109,50,150,1) 100%);
    
}

#hero h1 {
    padding: 50px;
    font-size: 55px;
    color: white;
}

#hero h4 {
    color: white;
    font-size: 18px;
}

#hero ul {
    padding: 50px;
}

#hero li {
    padding: 10px; 
}

#hero p, i {
    color: white;
    padding: 50px 0px 0px 0px; 
    font-size: 12px;
}


